    .typing-container {
      font-size: 30px;
      font-weight: bold;
      /* color: #000;*/
    }

    .dynamic-text {
      color: darkred; 
     
      border-right: 2px solid darkred;
      white-space: nowrap;
      overflow: hidden;
      margin-left: 10px;
      animation: blink-caret 0.75s step-end infinite;
    }

    @keyframes blink-caret {
      from, to { border-color: transparent; }
      50% { border-color: darkred;}
    }